



<!-- <link rel="stylesheet" href="">
<script src=".js"></script> -->
<!-- <div class="main">
  <div class="nav">
    <h1 class="title-section"> {{title}}</h1>
  </div> --> 
  <!-- open interpolation hota h pr uspe css nahi lagti h -->
  <!-- {{navv}}
  <p class="c">{{navv}}</p> -->

  <!-- test cases of interpolation all imp i/w :: testcase no1.  -->
  <!-- <p> {{no1 + no2}}</p> -->
  <!-- //i/w Q. 
  can we pass arrithematic expretions in string interpolation ? >> yes.  -->
  <!-- <p> {{200+200}}</p> -->
  <!-- add krega 400 legal coade -->

  <!-- 2.
  <p> {{200 +'piya' + 200 + 20}}</p> -->
  <!-- isme jasehe string mila o bad ki sare cantain ko string trit krega 
o/p  200piya20020  snypadss puchenge ase  wht is the o/p of this interpulation ?-->
 

<!-- <p> {{200 +300+'piya' + 200 + 20}}</p> -->


  <!-- 500piya20020 -->
  <!-- <p>{{typeof(no1)}}</p> ; in interpolation typeof oprater will throw error-->
 
  <!-- 3. can we pass fun. >> yes -->


  <!-- <p>{{learningInterpolation()}}</p> -->


  <!-- agr fun return valu to o dom me show hogi if fun.not retern value to o undefine  -->
 
  <!-- 4.
   assignment possible h kya  -->
  <!-- <p> {{no2=300}} </p> -->
  <!--  :>> nhi it will through error 
assigning value to the property from interpolation is not possible 
-->
  
  <!-- 5.
  <p>{{}}</p>
parshl error 
Parser Error: Blank expressions are not allowed in interpolated strings  -->
  <!-- 6.
  <p>{{no2==20}} </p> -->

  
  <!-- equality check krna possible in interpolation
  it will give us truee and false -->

  <!-- incriment decriment ...kal -->


  <!-- 12-09-23 -->

  <!-- <p class="city-section">{{city4}}</p> -->



  <!-- interpulation 
    jo quchh bhi value ts me h dyrectly ui me/dom me show ho jati h -->

  <!-- 11/09/23 : string interpulation 

    // string intrpoletion : one way data binding technique : ts to dom/html/template




    //
    i/w  Q.1  what is meant by string interpulation ?

    ans  ->>  String Interpolation is a one-way databinding technique 
              which is used to output the data from a TypeScript code to HTML template (view).
  
              //ts file me deta h o access in html file to show in dom/ui

    
    Q.2 what are different deta transmition technic in angular ?
    
  -->

  <!-- 12-09-2023
  property  define and declairation>> revison  
  isko initialize krna hai fun ke andr 

  MVC ::> model viwe control : means >> abhi jo architecture h angular ka o kya h component besd architecture h
  component me  4 file hoti h > html ,css ,spec.ts ,and ts  
  isme html viwe ka kam krta h 
  typescript control ka kam krta h and scss spectts together jo kisi module se belong krta h 
  to module viwe (jo ui pe dikhne vali h chije html) oor sara control jayega ts ki file se  to controlvala o sara funtionality type script ki file me likhte h .
  
  deffinaton ggl>>>
   
  //string interpolation  
  
deta binding  :
1. one way data binding 
2. two way data binding 
 //javatpoint search deta binding 

 i/w . Q.  what is deta binding ?
           Data binding is the core concept of Angular 8 and used to define the communication 
           between a component and the DOM.
           It is a technique to link your data from component to viwe .
  
           one way deta binding ke sub typ exmpl >> Angular Interpolation / String Interpolation, Property Binding, and Event Binding are the example of one-way databinding.

Angular provides four types of data binding and they are different on the way of data flowing.
String Interpolation
Property Binding
Event Binding
Two-way binding

i/w Q.  what a different deta binding technic in angular ?
 Q.  what is deta binding ?
    ans >> it is a technique of deta trancemition b/w model to dom or dom to model 
    their r 2 majore data binding technique we have in angular their r one way deta binding n 2way deta binding
     in one way data binding data is transfure in typescrit to dom and 
     in 2waydatabinding the communications happance b/w dom to model or model to dom  that is a 2way deta binding
      and in one way deta binding their are also sub types of that is string iterpolation property binding 
      nd evevt binding or we can say in 1waydatabinding we can do 1way data binding 
      in use stringinterpolation  ,property binding or else event binding .

     to transfer data from  model to viwe ya fir viwe to model 
  
>>  detabinding a ek technic h jisse apn deta interchange krte hai b/w module to viwe and viwe to module
mtlb ts ki file se deta jayega html file me or html ki file se data ts. ke file me la skte h.
  jb tsse dta html ko jara h mtlb / module controll  se data dom ko jarah or templet ko jara hto o hogya one way deta binding
 //1way data binding : 1.string interpolation 2. property binding 3.event binding 
  or 2waydata binding means html se tsko or ts se html ko bhi data ara h mtlb dono ka communication
   means sending and recieving togather isko bolte h 2waydata binding .
  
  one way deta binding me yahase deta jayega dom ko ether string enterpolation 
 string interpolation : it is one way data binding technique : ts/model to dom/html/template{{}}
  -->


<!-- 
  <p>{{city1}}</p>
  {{no1}} <br>
  {{learningInterpolation()}} -->



  <!-- <router-outlet> </router-outlet> -->
  <!-- dom document object module 
  ui user interface 
dom /ui/ html/ template / user inrface /browser -->

  <!-- what is defference b/w = ,==,=== ? -->

  <!-- <p>{{"priyaaa"}}</p>  //useless this is not string interpolation -->
  <!-- <p>666</p> // this is not string interpolation -->

<!-- 
  <P>{{no1}}</P>
  <p>{{navv}}</p>
  <p>{{no3}}</p> -->

  <!-- 2. property binding
  PROPERTY NAME ME SPACE NOT ALLOWED , special chqrecter not allowed ,nuber se start not allowed -not allowed, _ le lega $ lega 
  use in camelcase...

 -->
  
 
 <!-- name: <input type="text" value="piya" placeholder="pls enter your name"> -->
 
 
 <!-- placeholder a  dissable  formate me rhta h jo as a hint kam krta h input tag ke liye
  or value  inable rhegi or prifiled formate me apne ko dikhana h 
  place holder deseble format me value dikhata h  or value atribut editable .
  jb value atribute lete h tb plce holdre decable hota h ok dono sath me ni lena h .
  kyoki jb value inactive hoga tb place holder acive hoga  -->

  <!-- 
  deta binding 
  property binding [] brecates lagake hoti h or 
 (kisi property ke ander value binde kiya hua h o deta o property o apn ko bind krni h value atribute so that atribute hamesha binding symbol [] lagana h  or jis property ki value is input box me show bind krani h o value me dalana h )

 dyrect direct show krna h data to sting interpulation property bnao or dom me html me {{pass kro }}
or ager apki requrement  input box me prifikled deta bind krke rakhna h to o deta apko modul se ts se component se leke ana h to o case me property bnegi apki ts me usko bind krenge html me input data binging mthod se [value]='pass property'

-->



  <!-- <br>//property binding []
  name: <input type="text" [value]="data1">
  
  {{cars}} -->


  <!-- //can we string interpulate array ? yes. -->


  <!-- carName: <input type="text" [value]="car">
  studentAge: <input type="text" [value]="student.age">
  {{student}} -->
  <!-- //? can we string interpulate object >> object object o/p  iske liye ase likhna pdega niche jaisa -->
 

 
  <!-- array we can directly string interpulate bt object we do specification  -->
  <!-- <br>{{student.name}} <br>
  {{student.age}}
  redio nd checkboxes
  gender: <input type="radio">//event trigerr krna h to pta chlega value kahase ari h uske liye...

  gender:
  female: <input type="radio" [value]="genderf" [checked]="genderfemale" name="gender" (change)="gen($event)">
  male: <input type="radio" [value]="genderm" [checked]="gendermale" name="gender" (change)="gen($event)">
  other:<input type="radio" [value]="gendero" [checked]="genderother" name="gender" (change)="gen($event)"> -->

  <!-- 13-09-23   -->

  <!-- angular ke ivent ka nam change h input box ke liye  
  js me isi ivent ka nam ngonchange   hoga 
agr input typ = text h to event keypress keydown on blure blure focuse
checkbox ke liye >> change  -->
  <!-- jaise he kisi inputbox me chenge hota to uska type chenge h uska fun call hota  
    enent tb fire hota h jb usper click krte h  jse clike kiya gen namee ka fun call huaa 
    jisme m $event krke event pass kra h jo ts me  deta nam ke paramiter me catch kiya h
  
    funtion define kaise krte h 
    function name (paramiter//paramiterless){
      //codeblocks..}   >>
gen(data:any){
  console.log('data',data.target.value);
}
a q liya h  jo value jari h  o check krne ke liye ki ohe value check hori h ya nahi asA

single selection ke liye name atribute ki value should be same 

  
  -->
  

  <!--<br> checkbox
  hobbies: <br> <br>
  painting: <input type="checkbox" [value]="paintinghobby" (change)="hobbies($event)">
  singing: <input type="checkbox" [value]="singinghobby" (change)="hobbies($event)">
  traveling: <input type="checkbox" [value]="travelinghobby" (change)="hobbies($event)">
  dancing: <input type="checkbox" [value]="dancinghobby" (change)="hobbies($event)"> -->

  <!-- 
  this keyword 

  i/w Q. decribed thiskeyword in angular ??
 
-->
  <!-- 
h/w notes making ??
what is meant by data binding ?
what is deffrnt data binding tecqunic we have in angular ? ggl
2way data binding ,1way data binding ? string inter pulation ? property binding ? 
wht is use of this keywrd? 

 -->

  <!--1k pro.. jo model me bni hui h uski value apn bind kkre h kisi attribute ko usko bolte h property binding .
 one wybin.. khi show krna ho to string interpulation krna hota h , agr input box me koi valu pre filed  formt me dikhani h to proprtybinding use krna hota h , show krna h dta ts me h property me deta h to khali show krna h strintrpol.. majorly 99%input ke liye hi pro.bin.. krte h 
 -->
  <!-- //eventbinding bcha 2wy dtabing component readout topic this .. -->


  <!-- 14-09-23 -->
  <!-- 10719
  Q. y r u chenging ur curent job ?--finantioal as well as my devlopment growth .
  bing human ek achha slry ke liye hi job chnge krte h
  abhi project hogya complite abhi jitana sikha vaha pe bss hoga gya ab for a change nd finatial growth im switching my
  job

  anil sindhu ka tutorial .. -->

  

  <!--
  
  event binding 

Q. i/w what is meant by event binding ?
>>  Event Binding
In Angular 8, event binding is used to handle the events raised from the 
DOM like button click, mouse move etc. 
When the DOM event happens (eg. click, change, keyup), it calls the specified method in the component.

 -->
  

 <!-- <br><button (click)="submit($event)">submit</button> -->



  <!-- ase event bind krke apne ko kisi input box ki value chahiye ya check box ya radio btn ki
     value chaye to ase event fire krke o kam me event binding picture me ata h 
     iske sath sath btn click pe kooi fun call krna h ya form liya usko subbmit krna h 
     ya save krna h to o saver ya subbmit ka bttn rhta h jo user ka data h o backend me kidhar 
     to server ko send krna pdta h  -->

     

  <!-- two way data binding

  The two-way binding has a feature to update data from component to view and vice-versa.
  Whenever you make changes in the Model, it will be reflected in the View and when you make changes in View, it will be
  reflected in Model.
  In two way data binding, property binding and event binding are combined together.
   -->
  
  <!-- ...
    [(ngModel)] = "[property of your component]"  
Note: For two way data binding, we have to enable the ngModel directive.
 It depends upon FormsModule in angular/forms package, 
so we have to add FormsModule in imports[] array in the AppModule.

   -->
 

  <!-- <br>
  : student name: <input type="text" [(ngModel)]="studentname">
  <br><br> -->




  <!--inter pulate value >> show to ui -->

  <!-- {{studentname}} -->

            

  <!--intial level me data ara h ts se   proprty me assign kiya word h priyanka  
  jo input box ko bind krke rkhi h proprty. 
  to inpt box me pre filed me o value ari h sath hi ath me isko interpolat bhi krliya to 
 deta input fild se interpolate fild  pe do jagh riflect hora h 

jaise he input box me changes krte h to intrpolate kiya h vaha pr bhi chenges hota h
q use se jse inpt ara h vhi proprty kr andr store hora h vhi property yaha pe
interpolat krke rkhi hto dta updat hora h  h 
 
ngmodel ko jo pro. bind krke rkhi hui h o updat hori h  jse inp.bx ke andr chng krre h
 pro ki valu chnge hori h jaise he as hora h ts update hora h to o a value tho uspe 
 always ovrrite overrite kra h jase he a hoga to interpolate  me bhi o reflect hoga 
mtlb  initiali ts se deta ngmodel me gya bad me user ne uske andr chnge kiya quchc  
yaha se deta vaps ts me gya  jase ts updt hua  a inrpolat vaps updat hora h
 to ts se html module  ts hhtml ase cercal looping chalu h isko bolajyega 2way deta binding technique .

-->





  <!-- erroe
1. Error: src/app/app.component.html:258:35 - error TS2322: Type 'Event' is not assignable to type 'string'.

258  <input type="text"  [(ngModel)]="studentname" >: student name
                                      ~~~~~~~~~~~~~~~~~~~

>>tb usko any bnana pdega >string pe event asssigned ni krskte h isliye data type any krdiya.

2..
Error: src/app/app.component.html:258:22 - error NG8002: Can't bind to 'ngModel' since it isn't a known property of 'input'.
>> ab mere app.module.ts file me ngmodel dyrective ko use krne ke liye jo forms module lgta h o import nahi hoga to yaha pe asa error ayega 

>> related formsmodule import krana h
:- > ngModel  directive dipends upon ng modules jo exist krta h angular forms packeg pe  to  so we have to add FormsModule in imports[] array in the AppModule.

>> go app.modules.ts >> import ke arry me add krna h >> fromsModule >jo atometic click krne pr {import { FormsModule } from '@angular/forms';}
a ajayega ya lelega vaha pr import kr lega.



-->

  <!-- property binding syntax [],event binding syntax (), or two way data binding ka syntx [(ngmodel)] -->

  <!-- employe name : <input type="text" [(ngModel)]="empName">
  {{empName}}



  // 16-09-23
  //VARIABLE property me difference
  <br><br>
  <button (click)="addition()">Aadition</button> -->
  



  <!-- angular me event binding  bresses than click -->
  <!-- {{res}}//error propery does not esist.typ appcomponent.(variable) -->

  <!-- static ka result console me check krteh means variable 
agr addition ka result dom me print krna ho tb 
what if deta dynamic h user se leke are h tb picture me ata h deta binding  property 
 -->

  <!--  property define krne ke 3 way h ts me
  1. pro..name= 'value assign kro;
  2. propertynam? :string; //declair 
  //jb de cclear krke chodte h to o undefine rhta h .
  3. pro.nm:detatyp=value;// dec+def 
-->


  <!-- <br><br>
  <button (click)="Addition()">Aadition</button> -->

  <!-- result ko dom me show krna h to  -->


  <!-- {{ress}}
  <br><br>

  <input type="text" [(ngModel)]="Nm1">Nm1
  <input type="text" [(ngModel)]="Nm2">Nm2
  <button (click)="Adddition()">Aadddition</button>
 -->



  <!--  form me ngmodule use krte time error ata h jo stand alon 2 proses set krne se solv hota h  -->
 
 
 
  <!-- <p> {{resss}} </p> -->



  <!-- //deta h ts ke ande or o jara h fom ke ander input boxes ko >> one way deta binding.
ab jise he quchh add kre h o reslet 100+2000=1002000 ;// oh user se kuch i/p lete h tb deta o string formate me milta h default  apne ko usko parseint krna pdta h number me convert 
parseInt krte time property any deta type lgana h ; kroki user deta string me ata h use integer me intial levl me vaha pe numbr h to numbr me numbr convert parsint ni krta h  isliye any krna pdta h property
isliye o eeror throw krratha ki num parsint pe ni lgega...


>>parseInt(this.Num1)+parseInt(this.Num2)>>in ts
o/p  > 100+2000 + 2100;
// -->

<!-- 
a hogya dynamic deta data user se liya i/p from me bind kiya kuchh property  ko  jiase hi iske ander initialy kuchh add hora h jo user inp// me dall rha h o ara h iske ander store updt hora h
dom updt hua vse he ts updt hua , jaise ts updt hua result updet hua 
or result ko hmne interpolet krke show kra diya ...
that is 2way data binding ..


 -->

  <!-- <br><br> -->


  <!-- //ager apko usi deta type me lena h datatb
  //1st trika >> any lgao parsint krke value lo input se ngmodule ka use krke
  //2trikaaa -->



  <!-- 
  <br>
  <input type="text" (keyup)="ADDITION1($event)"> n1<br>
  <input type="text" (keyup)="ADDITION2($event)"> n2<br>
  <button (click)="Addditionnnnn()">Aadddition</button>

  <br>
  <p> {{rs}} </p>

</div> <br><br>

<div class="main1">
  <h1>hard codede data </h1> -->



  <!-- angular me data : agr o static h deta to constant file se ayega jaise ka vaisa ya backend se ayega ya user quchh chnge krega uske according 
 -->




  <!-- <h1>{{hadding}}</h1> -->





  <!-- string interpolation 
(deta ts se ayeha dom me show hoga):- isko bolte h one way data binding 
-->
  <!-- ^ yahi chij variable se nahi krskte 
ts file me variable bs fun ke ander declair kr skte h bhar kiya to o property asuume  hoga
  vriable ko dom me pass ni krskte h
 >> variable kb bnate h >> 
tb bano jb usi fun ke ander value ko lekr manupolation krna h apko -->

  <!--  /two way data binding  -->




  <!-- <input type="text" [(ngModel)]="myCityName"> -->





  <!-- property fatch ni ki ts me to dose not exsist vala error ata h -->
  <!-- //ng module ko use krte time [()] a parenthesis jruri hota h  -->

  <!--  user se quchh input lena h apne ko wather it is text number or check boxes radiobtn ka value jo quchh bhi 
 bs apn ko user jo value dedega o leke ana h  jse user uske andr chnge krega quch  uske acordingly apn ko uske ander jo bind kiya h property o bhi chnge krna h manke agr o property kisi fun me fatch  kiya ho to o at the same time change hona chahiye .. 
to iske liye hota h 2wat binding .
 2way data binding ap :
 value atribute se bhi krskte ho
 ya ng module se (majorly ng model use krte h )
-->
  <!-- ngmodule
  [(ngModel)]=" property bind here   "
isko use kkrne ke liye foroms module import krna pdega  appmodule.ts me
-->


  <!-- {{myCityName}} -->
  
  


  <!-- ng model me bind prop.. ki valu hr jgh reflect hogi jaha o prop. use ki gyi h -->
  <!-- <br>Q...
what is meant by deta binding  ?fixd que...
data binding : it is a technique to link data between a component to the  dom 
there are two technique in deta binding one is one way data binding and other is two way data binding 
1 . one way me  3sub types h >> that is
 > string interpolation :>>
syntax:   {{}}
data jayega model se dom me....




> property binding :
 iske ander hm property bind krte h kisibhi attribute ko 
// module se deta jata h dom ko 

> event binding :  

as pr the property updat hoti h jaise ki keyup keydown inputfiled chnge a chekboxka   a sb event h  , click event h 

2. 2way data binding   
// dom se deta viwe me or view se module me pass krte h 
//note : 2way deta binding ke liye forms module import krna hoga ..aap module me 

ni to apna app module kam ni krega  -->

  <!-- Q what is ts 

>>> type script is a super set of java script 
chat gpt ask?
open sorce programing language h jo superset h java script h js ka 
ander ke features >> interfaces classes modules 

design kiya gya h inhance large scale applications . aswell  as improve code scalability mntainability to throw the features of typescript . a dono terf clint side as well as server  side deployment ke liye use me ati h 
widly used in web appli.devolp. and both s.....ide devlopment.

-->

  <!-- //klka sinario ... -->

<!-- 
    <br>
  <input type="number" [(ngModel)]="addnumber1">
  <input type="number" [(ngModel)]="addnumber2">

  <button (click)="additionOfNumbers()">click me to add </button>

  <p>{{ addResult}} </p>
 -->



  <!-- y r u chose s/w dev. filed 
i love coding 
 s/w devloper has like good career oportunity and as well as i have quite good intrest 
 in codding so thats y i chose  this filed 
 iq testing-->
  <!-- baichatgo.. 
gd sw dev, has full filing career choice rhti h jaise ki flaxible work hota h slry compnsetion ache rhte h ..
-->
  <!--  ur self
nam  location aducation in this this yr 
to o project puchega fir project k decriptin vgera 
 -->

  <!--
    
  //18-09-23: project query...
  //19-09-23

  add btn lena tha add cercal krke >> jaise clk krta h utne no of crkl ad hone chahiye>>
  ab jaise sercl pe clck kre uska clr chnge hona chahiye or unclik kre vaps phle vala clr aneko hona

  togl efect select unsilect
  13:40pe architecture ka anse kaise dena h hint h 19-09-23

  //20-09-23
  16:22 2359
  component mtlb ak building block h angular ka
  component: maltiple ...modulels+directive+pipes
  meltiple component milkr bnta h angular ka application ,
  ng g c home

  ng generate component home

  chat gpt wat is component in angular ?
  ??

  //25-09-23
  recap : 
  databindiing >>1waydatabinding: simply data jara h ts se or bind hora h ui me
  2waymtlv: dom me quchh change hora h uske accordingly property apni update hori h alredi property me
   value h ni h a optional h ts se dta dom me  dom se again data ts me tis looping 
   that is a 2way data binding  or iske liye ngmodel dyrective us me ati h 
   mtlb jo property bind krte usme dom se jo data ayega usko apn us property mebhi 
   ya kisi fun me bhi updat kr skte h 
   ng modules ke liye apko forms module >> module.ts ke andr import krna hoga
   1way.. me string interpolation: ts me property h uski value dyrectli interpolate kere h DOM m 

   pro.bind: kisi atribute ko property bind kree apn so us atribute ko us prop.ke according uska value vgera assign ho jayega 
    event bind.:jaise ki  koi fun click hua us fun se kuch deta pass hora h dom de ts me to usko bolenge eventbind 

    component:
creting cammand : ng g c componentname
:->> ng g c home

component is a building blocks of application  isme 4 file janret hokar ati h 
component ka bunch togater modul ke andr put krte h or modul ka bunch project ke andr 
  component : parent hoga model: iska parent hoga project.


ng g c lading 
4 file creat hokr ayegi 
or modul.ts o updat hokr ayegi
1 28 39   


ahi ui me konsa dikhra h routing modul html file ..
ab agr home ka ya landing component ka ui me dikhana h to usme ata h routing nam ka concept 
 routing mtlb ak component se dusre component me rute krna redirect krna. yaha pe simple routing h or lzy loding vali routing h 
 simple routing means : home or landingjo component bne h na o globle h mtlb a aap me bne h 
  (deta transefr krne ke 5 trike h in future pdhenge ,deta binding alg h or deta transefr krna alg h )

  filhal abhi bs ak componant se dusre componant me on click krke dusre componnt ko load krna  o hota h simpl routing 
  isme app rout module h   routingmodule.ts imp h >> isme routing ka code likhna hota h 
  or app module.ts me import ka code likhna hota h 

ab   main html me quch ni dikhna h tb sb comment krenge 


 -->





 <!--</div> -->






<!-- project iw snypad add circle -->


<!-- 
  
  <div class="iwsnypads">

  <button (click)="addCircle()">click circle</button>
  <div *ngFor="let circle of circles " [class.selected]="circle.isSelected"
    [style.background-color]="circle.backgroundColor" (click)="toggleSelectCircle(circle)">
    {{circle.id}}

  </div>


</div> -->
<!-- <button (click)="">Home </button> -->

<!-- <button (click)="landing()" >Landing </button> -->

<router-outlet></router-outlet>

<!-- router ki dependenci enject krni pdegi 
  constructer ke  ander  public ya fir private spacefire leke  ak Router iska ak property instance bnayenge(camlcase ) : or a exzacly capitl class bnayege jisme dependency h  
 constructor (privat/public refrence  :class){}
 :-   constoctor (private router: Router){} 
 isko import krna h click se add import from'@angular/Router
 import { Router } from '@angular/router'; asa ts file me upr inport hojayega 
 (a node module ke andr hota h kidhr to yahase compiler uthayega isko)

ab is class ko this kywrd ke sath fun me use krte h 

navigateByUrl() inbuilt mthd h//this .router point consterctor meki class ko or navigateByUrl() a inbuilt fun h jo paramitrised h ike andr path pass krna pdega  
// 'costmvalue path'
//redirection vala code always routing module .ts me likhna hota h 
//const routes: Routes = []; yaha pr
//path add krna h 
 variable name: datatype =empty arry  define kiya h 
 initialy o empty rhega until n unless path add ni krte 
 jaise path add krte uske ander obj bnke jayega 
 a arrayof object h bckly
 { path:'ezacly path navigatbyurl ko likha vala', deke 2nd paramiter Component:isme bind krnah classname jo ki uprcase title case me h}
upr bhi o import ho jayega 
import { LandingComponent } from './landing/landing.component';

import { LandingComponent } from './landing/landing.component';
asa

waht u mean by router outlet ??? imp que i/w . use of roter oulet directive in anguler search baichat ??
>>it is used to one component from redirect to another component to jo kucchh bhi routing ki
 dependncy corelated code h o is directive ke ander inbuilt likhi hui h  
by angulr time to ager a directive apn ni lgate h to kbhi bhi apna code redirect ni hoga  

..quue   konsi methd ka use krke hm routing perfom krte h 
>> naaaaaaaaaavigatebyurl()jo ki router class ke ander exist krti h
 uska use krke hm ak screen se dusri scren pr redirect krte h /comopnent pr redirect krte h

dependency ijecter mens : jiss class me apni dependencie h usko injet kr lena constructor ke andr 
/class hoya ya serivce hogyi so that using the refrence pointer property we can use the fun inside use
 ex.ager navigatebyurl ko use krna h to construter ke ander router  uski depency inject krna hoga yeh 


simple routing ^

QUE IN INTERVIEW 
what is meant by dependency injectore ?
.what is router class?
.konsi mthode redirection perpos use ki jati h anguler me >> navigateByUrl.
.what is router outlet ?and what is use of router outlet dairective  ??

////router outlet is router directive from anguler librbry and aslo known as dynamic componunts 
 it is usd to redirecting perpose it helps to insert component  on match by routes to be desplay on the screen .

 upr ka ni ye btao itna >>router outlet is router directive from anguler librbry byy using the routr outlet we can redirect from component to componnt .


-->
<!-- 26-09-23
what is meant by routing in angular :
 redirecting from one component to anathore ;

  routing? ek scrin se dusri screen pr ridirect hona isko routing bolte h routing ka prpose kya h bsckly angular ak singl pg aplicationh kyo singlpg appli.h kyoki index . html hi run hora h 
ui me yahase bs body section me jo dikhra h o h apna rutcomponent
jaise hi compilr compile krta h sara aplication to browser pe jo sbse phle run hora h o h index.html or intry pointh main.ts to index . html page apne ko sara meta deta lgakr rkha hua h tile hogya jo browser me title dikhta h body section mtlb ui  body section me rute component  ko add kiya hua h ak selector lgyahua h dyrectly  rutcomponentka  

can we chng root component ??i/w
yes we can chng root component and we can chng root modul as well
bt some how jo nacesry chngess honge uske liye fil me o krne pdenge

jaise ki rootmodule h yahape bust krne ke liye botstrap me that is a rutcomponent ka class aapcomponent jaise landing ko rout modul bnana h tb  landing ka selectore uthayenge(app-landing) isko as a ilement bnake index.html me dalenge o hoga <app-landing></app-landing> opning closing or uske sath sath modults me bootstrap me yahaper change krna pdega appcomponent ki jagh aaplanging jisse apn landing ko rut componet ki trha dekh skte h so kisibhi modul ko rut modul bna skte h 
  we can change rut model we can change rut componet as wel 

base url  port url  landing scrn
jaise hi refresh krte h deta los  back kro kisi btn pe clc kro piche body cheng hori h isse o kidhr bhi refresh ni hoga pr aplication refresh hogya deta loss vaps rejnret hoga sara sara like pri intilize hoga sara ka sara to kbhi bhi apna angular ka apli.refres ni hota h index.html ka singl pg aplli.me dikhai deta h jo kuch bhi rutcomponent hota h  o lod hota h iske alawa jb kbhi bhi apn redirect krte h ak scren se dusre multiple scrn pe  tb kya hota h age age age or ack bk back hm ate h or kidhr bhi a refresh ni hota h isliye isko singl page aplication bolte h 
 were as jo filpkar lelo  ispe kidhr bhi cki kro o refresh hojata h to a ni h single pg aplication clik krne ke bad apka tab refresh hojaye to iska mtlb a h ki a singl pg apli ni h 


i/w y angular is called single page application?
>>ui h na alwys  body overrit hoti h jaise he a home component pe redirect hogya to landing component jo tha ooverwrite hogya home component ke ui se  ase hi m dusre page p jati to uska uskahtml h na  dom me show hota h mtlb kbhi bhi apna application refresh ni hota h always apna body overwrite hori h yaha pe index .html run hora h alys pr evry time on click acton evevnt pe body overwrite hota h that is y angular is cald singl pg

//component buling bloks of aplication jisme pice of code likha jata h like component based he architectrr h angulr ka to jo quch bhilikhana h component me likhna h or component consist of 4 file jisme ui ka code likhenge apn html me jo domme me dikhne vala html fle me logical code .ts and style sheet ka code likhenge apn scss file me .


website jb anguler me bnate h tb alwys index .html load hoti h browser pe or hmesha apn h na every component ko overrite krte h on users acction wether it iss back handling  bs  1k hi bar  lode hota h application or bar bar bs overrit krte h ui ko khali  continew proses chlri hogi ya back kra hoga aplication kidhar bhi refresh ni hota h aplication bs ak bar lod hota h or bar bar ovrrit krte h ui ko khali usko bola jata h single page application ok
 isko bolajaata h singl pg appli.

{in single pge aplli. hole pg is not reloded evry time ,only evry time view will be chnged wive ould be overrit }

{
  component   ng g c component name    se bnate h 
  3component h  landing,addcircal,home,...
  evry com.. me 4 file hote h  to html  ka code sra sorted rhega html me , css ka scss, 
  or ts ki file isme apka funtions rhega etc etc  
  isme bhi kya h upr inport section 
  iske niche sara files ka interconection  componet me
  template url me html ki file 
  styles ke liye css file,
  or component ko jiss nam se janajayega that is selectore to a component pura load hojayega  app-landing  selector se  ye sb apn ni bnate a janrate horh automatic sara default code app alwys ara h kroki a sb app folder ke andr h  aap - landing or a landing a apna component name 
  componet name camle case me ni likha n   a app-add-circle asa dash ayega caml case me ....
  //or  cass  defalt iska name title case me hota h
  
  ab apnli reqire ment aplication  run hori h ui pe to landing screen pe apn ko landing component show krna h to routing add krna pdega >
  defalt dikhra h rutcompo.. kyo kyoki index.html me rut lgake rkha h ab add routing >>
   uske liye directive add krna h ruuteroutlat
    step 1 
 routing in angular :
 redirecting from one component to anathore ;
step 1  >> redme file  jakr dekho >>

//simple routing 
1.add <router-outlet> directive to app.compo.html
2. jis compo. ko landing screen component bnana h uska >> add apth in to the app.routing modul.ts file 
 for empty path set krro
 ex:{path: '' , component:LandingComponent},
//  path smal me : usme hardcoded value , component : yaha eclzacly uscomponent  tsfile ka class name  or isko import krna jruri h }
 abb reddirection from another home 
 to landing  ke html me btn bnao click event  pe fun bind kro jisme >> 
 .ts   me >>us fun me lojical code>> 
 this.router.navigateByUrl('home' path kaexactly name maints yr ui pr dikhega loginurl pr') a method likho 
 ab jo router h uski dependeci phle 
 construtor me add kro >>
 constructor(private router:Router){}
//publich private specifire  routerproperty: jo point kregi Router class ko 
or import by blu blb clik ya Router pe op ata h 


path match ni huva to landing not found ka error dega ...

//constructer sbse phle implicitly call hota h mtlb  ts landing pkdlo ex ke liye jaise code  suru hota h to sbse phle constructor run goga bad me fun jb call krenge tb asa 
construterko compiler khudhikhud run kr leta h baki fun event pe hi fire honge 



}



what is meant by router outlet ?--what is use of router outlet?
a 1 directive h jo jo router pakeges me exixst krti h or a anguler ke routing ke liye use me ati h 
jo routing ke liye use ati h  ani lgya ruting not possible isko html me add ni kiya to . 


wildcardraouting :
jb path koi match ni hoga tb o directly ak default pade pe redirect hoga >>page not found 
>> ng g c pagenotfound   // 1component banyege..
{path:'**',component :pagenotfoundComponent}
isse kya hoga jb koi path match ni hoga to o simply page no found pe redirect hoga ..

QUE? what is meant by wildcartrouting??
>> this is wildcart symbol ** jnrly used in agr koi page found ni hua to page not found pe redirect krne ke liye 
to koibhi root path match ni hua to wild cart routing di jati h 
 kyoki as a dev. apn ko pta h ki vahape eror h to console krke dekhna h pr user ko thodi pta h o to click krta baithega to isiliye a page not found vala sinario h 
 
{application 
  nodmodule ke ande sara modules rhte h agr node module ni hoga to  module file me modules ke niche red line ayega 
  src foldr ke andr sara devloper ka kam rhta h 
  iske andre bhi aap nam ka foldr  jisme apn component bnayenge  ,modules bnayenge ,servises ,directive bnayege ,jo kuch major logical part hoga o app ke ander 
  assets me : images icons vgera 
  index.html >> a application ka sbse phle run hone vala pag h >> ui me titl shohota h or isme <aap-root> modul bind hota h jo ki component selectore hota h jisme html css bin hota h or a sb yahase  ui me sho krte h 
  main.ts >> a appli intrypoint h >> yahase isme appmodulelod.ts hota h or iske ander declairetion ke sare component fir imports me ke modules , goloble component jitne bhi h sb yahase lod hote h 
  style.css >> me sara css ka c
(component apn dyrect file pe click krke bna skte h  bs 
spect .ts or ts file me jo code default bnke ata h o  khudse likhna pdega )


  

// redirec krne ke liye < roter- outlet> html me lgana imp h 




}

component dlt krna : 
ether right clik krke dlt maro , ya revale in file exploral jao or vaha se dlt maro 
or jaha jaha use kiya h aplli cation me remove kro ...ni to error dega 




 -->

<!-- 27-10-23//  -->


 <!-- 
// 03-10-23
routing khtm 
  module bnana ..
   project  conisist of multiple model >> module consist maltiple pipes component directive 
   ....
    
   abhi tk 2wy binding sikha or 
   comonent bnaye or direct direct routing kiya 
    to asb egarly loded component h  manke chlo  200 300 component ka project h or ase hi bnate rhe to  jitna bnaoge o sara diclairetion section update krega appmodule.ts me
    sara ka sara aaap module h na a  egarly loded modueleto a sara ka sara run hojayega ... jaise hiappli run hoga broser pe 
  ase hi sara component open open bnate gye to droback kya ho skta h  jitna compo.bnaoge o sara  diclirection  section update krega mtlb sara egarly loded module mtlb jaise hi application lonch hoga browsr pe tb aap module sbse phle load hota h  land hota h to module ke andr jitna bhi a apka component hoga moduls hoga sara ka sara load hoga to agr 200 compo h apli me to 200ke200 1 rwo me hi hi land hojayega 2oo compon ke sath bwsr pe isme kya hota h na 200 compo me havy data hogya api call hogya to apke manke chlo apke 200 me se 100 component 50 me initial levl pe  bhotsare api call h to bhotsare  apicall hit hone se kya hogya load agya apki application pe to at the same time koi bhi  1row mw itna sara apicall mrega to kya hota h na application freez ho jata h iske karn application proper dikhe ga ni ui pe freez ho gyega iske karn apka apli dikhega ni ui asa bubling hota rhega so a drobak ko avoid krne ke liye  lazy loading concept aya 
  piture me  angular 8 onwrd 
  lazy loading me kya hota h na jitna bhi jarurt ka cize h mtlb landing dash bord pe ui pe user ko dikhana h utna intial level pe apn apli ka part lonch krege utna hi load krenge uske bad as pr the requirment  mtlb jaise  bnda jaha jaha click krega o part lonch hoga  to as pr the user requirement baki sara loanch hoga  to itna sara lod ni aya 1 sath 50 component lod krne se acha jaisa jsa usr clk krega on action usr se kuch na kuch lod hora h to isse kya hota h apna jo lod h appli.ka o h na part me devide hojata h sara ka sara appli load ni hoga to freez ni hoga to a sb ke liye lazy loding concept me ayi 
  
  what is meant bylazy loading ? i/w 
  tell me about lazy loading concept ?

module bnana:
phle appmodule.ts dekhenge to jitne globle component h utne hi run hore h 
baki kuch ni lodhora a module tk tbhi pohchega jb user kuch hit krke click krke action prform krke us tk jayega lod krega ok

routing mnj tecnicql wrd redirection mnj ak screen se dusry screen smanrthi wrds 
routing sylbas concep 

abhi  module bnayenge or module ke andr apna component 
: 
module janereting command :
ng g m modulename

ahi jaise apne  apli ke 3 ownr h student  woner  hogya or  user 
ng g m student 

isse apna module bnega  jb itna hi likhte h tb isse bs apna studentmodule.ts  file bnega 
bt apne ko  routing bhi likhana h kyoki us module ke andr uske uske componnt bhi rhenge ui ke according ly  
to isliye yaha pe jayega 
ng g c student --routing 
isse 2 file bnegi 
1.student.routing 
2 student.module.ts or {1k component bnega >> a chengess anguler 16 ka h  14 me ni bnta tha }

ager a ni dalte --routing >>
ng g m student --route  // ng g m student   
>> isse bs 1 file bnegi module.ts vali
jb student is website ko login krega to uske uske hisab se  chenges hota jayega asa hota h jaurny vise to abhi student ke related jitne bhi component homge jaise ki home student home hogya ya dusra kuch to iske andr bnge o component ,
ajo module h indipendent h iska app module ke andr iska kuch bhi a refrence  ni h  to m yaha pe console log marti hu or apna application refresh krti hu to  ('student module....') application relonch hoga 
{abhi console kiya to bs app module lod hoga 
yahaper apna app module jo h na egarly loded mokdule h to bs uska console print hua yaha pe kidhar bhi studentmodule ka print hua ni until n unless usko lod ni krenge manuali mtlb usr jb tk click krke ustk phochega ni tb tk ye  yaha pr load ni hoga 
 uska console dikhega ni asa hota h 
mtlb app module egrly lodede h  iske ander jitne component linking the globly bne the to o sara lod hoga  click krne pr idhr udhr redirect hojayega aram se bt student ka module ka asani h usko abhi tk load hi ni kiya
mtlb base url ke sath application me bhi load nikiya or usre kidhr click kiya h kuch path vath bhi add nikiya bhitk to abhi jaise iska jo component h student ka istk mujhe phocha h  (student component )  ya isko hi landing screen bnani h is compo.ko
to iska path add krenge router ke ander 
studentrouting module>>
[path:'studentHome',component: StudentComponent] emport bhi kiya
ab iss student compo tk phochne ka routing  student routing me likha iska internl routing 
pr ab 
student module tk phochne ka  rputing app module keander likhna pdta h 
module ko phle load krenge na to ab load kaise krte h to jb module ke andr 

a student independt module h iska kisi dusre component ke sath ya fir a modules ke sath iske sth koi talukat ni h app asa bolskte ho ki pura ak  project h or andr alg alg modules h ab student component ke ander alg alg component bnenge uska routing pn studnt modul me likhenge bt phle is student module ko hi phle initialize krna pdega to o vaya app routing hi hoga 
 bckly lazy loding concept ke throw hoga ..
lazy loading syntax search for module 
:>>

student module ko ui  sceen pe lanah 
abhi tk vaha landing component dikhra tha 
:- ladingcomponent html  me >> btn bnao  


appmodule ke indr jitne bhi h compponent initiali load honge or dusre kisi module ke as pr the usr action lod honge isse apna network trafic apna aplication browserload km hojata h ak sath sara lod lene se btr o thoda thoda lode leta h apli lender hota h that is the lazy loding concept .
jo egrly loded m.c h o load hojayenge fst ,uske bd as pr the user requirement baaki ke module dhire dhire lode hojayenge 
lazy loding  acchive krte h loadchildren mathode se ,use lazy loading network trafic kam krdeta h ,(inspect pe network secton me sare ke sare apicalls dikhte h to o network pe jo trafic h apicals are h rsponce jare h o sara ka sara trafic jm hojayega network frez hojayega load application ka reduce krdeta h ), apna aplication light wait or smooth bn jata h 
this r th uses of lazy loading ...
[
student module creat kiya >>ng g m student --routing
1 ruting file 
2 module.file bnke ayi. 
openterminl on studentmodule >> creat componet >>ng g c student
//4 file bnke ayi
ab ui pr  globle vala landing component  h usme html me buttun bnayi studentmodule () isko >> landing .ts me  define kiya 
this.router.navigatebyurl('')
(' phla path jayega lazy loding ka  means is module ke main root module ka path   /dusra jayega us  ke component ke module ka ')

  studentModule(){
    this.router.navigateByUrl('studentmodule/studentHome')
  }


path decleare : 
1. app-routing.module.ts file me>> module ka lazy loading vala path
 { lazy loading syntax: 
  path: 'item',  
   loadChildren: () => import('./items/items.module').then(m => m.ItemModule)  }  

{ path: 'studentmodule', loadChildren:()=> import('./student/student.module').then(m=>m.StudentModule)},
                                                      is folder ke ander a file h ).then()


2.  fir us module ke ander ke component ka path usi module ke ander 
student-routing module.ts >> internal routing module ki 
const routes: Routes = [
  {path:'studentHome',component:StudentComponent}, ]

]
//intry point se hilode hota h app module main .ts se ....
isliye console me aapmodule run horah uke ander ke sare com.pips directive jitna sb h direct run hota h or fir  user jaise hi created modul ko click krega tb evry click ke hisabse o pertikulr modul lod hoga 
redirect krega ..
//jb local com bnate h tb app module ka declaration secton updt hota h pr jb modul ke ander compo, bnate h tb uske module ander ka uska uska update hota h declarion section .





-->


  <!-- //manualyywork.. -->
<!-- {
  ng g m student --routing>>
  \myproject> ng g m student --routing
CREATE src/app/student/student-routing.module.ts (250 bytes)
CREATE src/app/student/student.module.ts (284 bytes)

>>>>     opn terminal on student modulle creat componet ....

ng g c student
CREATE src/app/student/student/student.component.html (22 bytes)
CREATE src/app/student/student/student.component.spec.ts (566 bytes)
CREATE src/app/student/student/student.component.ts (207 bytes)
CREATE src/app/student/student/student.component.scss (0 bytes)
UPDATE src/app/student/student.module.ts (372 bytes)

}
{
  ng g m std --route   
  CREATE src/app/std/std.module.ts (189 bytes)
}
{
  ng g m stds 
  CREATE src/app/stds/stds.module.ts (190 bytes)

} -->

<!-- 
  //repeat  all  4-10-23
  vaps pura ka pura routing module create krke 
  hom landing jo component bnaye o globle component h kyoki o app ka direct child h .>>
  4file bnke ati thi or appmodule .ts updat hoke kyoki 1khi component tha to uska dicleation updat hokr ata tha 
(*konse bhi moduleko  rute module bna skte h i/w yes)

multiple modules>> project bnto >>  >>modules me>>component mltiple derective pipes servises abhi

module me bs 2 file bnti h
module.ts 
routing module .ts 

routing module .ts ka use kya h ?? 
>>routing related jo code h rut ka path aso component aso kiva lazi loading aso 
or module me >> jo kuch egarly loded component ahet module ahet tte  ithe add akto manulyi ni o darict direct add hota h modules manualy krto add ,bakicompo direct hota h 
3q?aap module .ts ko change kr skte h kya >>
yes bt jo nececity chenges h
main.ts me appmodule ki jagh us module ko likho :yahase as a rute module boost hota h isliye yaha chng
idex.html me rootcomponent ki jagh uska root component replace krna pdega 
admin landing ka root component change krna ho to ??

appmodule.ts me botstrap me [appcomponet ]ki jgh uska nam replace krna pdega 

aplication sumth run krnya sathi feez ni ho iske liye apliction lonch se phle uska pproper landing hone ke liye aplication part me lonch krnna best idea h 
sb ak sath krne se acha as pr the user requirement jith usr la jaych ahe tith api call krne deta ghene tyanusra screen over rite krn  ..
lazy loading me kya hota h jo jaruri h nacesity  componet phle load krache globle component honge or abaki aspr the user reqirment bakiche module tyatle componet lod kertjach 
 isse 1row mw applicationka load badhega ni to km hojayega sooth lightwt appli or khi freez n hone wali appli end user ko de skte h that is the use of lazy loading 
 1 25 5
 lazy losding asto multiple componet bnana multiple module ke ander or as per the reqir. as pr the need 1k 1k add krna 

 module bnaya ng janret module modul nam --rouring 
 2 file bnn iska declaire.sec. tb update hoga jb iske andr compo bnayenge 

 roting vala routing me cod

(
  admin ke ak component se dusre pe jana ..
  adminlanding se landing pe ..
  
  opn terminal admin module >> creat adminLanding compo>>ng g c adminLanding>>  4file creat ,admin.module.ts updated>>
  
  adminLanding html >> creat btn bind (lan2) 

)
{
  debugger:=> 
}
///as per  the user requirement hm thoda thodda load krre usko bolte h lazy loading .
//pre loading egarly loadin or lazy loading ???i/w
rootmodel egarly lloading me ata h mtlb o pura ka pura o appli.linch hote hi pura egarly load hojata h sara ka sara appmodule.ts..
preeloading mtlb egarly loading ke phlebhi koi component load kr skte h 
lazyy.... as pr th requirment apn module koload krte jayenge module ko load kiya uske ander ke component jitne h o load hote jayenge asa that is lazy..  isko acchive krne ke liye .
jaise simpl routing ke liye simpl path liya vaise lazy loading ke liye syntax 

a vala h ^
loadchildrn mthd inbult mthd h angulr ki baki ke funtion o externly call krna pdta h explixitly vaise isko call ni krna apdega a dyrectly implictly call hota h by angular compilr 
lod.. chi.. mthd ko sbse phle =>op. se import kiya pth btaya ./within thisss foldr /uske andr ...module name ka foldr h usko import kro )import krne ke bad ab jake o rdy hogya b/w ;land krne ke liye  then usko intialize kiya yaha se compiler boost hota h admin module boost hoga or routing modul ke ndr jump hoga yaha pe lodhogya dusra path match krega  jo jo component ka hoga vah pe jump krega that is the logic bihaind it thas it .
syntax bs yad rkho 
globle fun pe redirect krne ka syntax:
path: value''', jis component pe redirecthona h o path

agr ak component se kisi module ke andr ke component pr redirect hona ht to
lazy loding consept vala path 
shortcut kl bataungi14 ka feture ho 

:

{ 

\myproject> ng g m admin --routing
CREATE src/app/admin/admin-routing.module.ts (248 bytes)
CREATE src/app/admin/admin.module.ts (276 bytes)

  \myproject\src\app\admin> ng g c  landing2
CREATE src/app/admin/landing2/landing2.component.html (23 bytes)
CREATE src/app/admin/landing2/landing2.component.spec.ts (573 bytes)
CREATE src/app/admin/landing2/landing2.component.ts (211 bytes)
CREATE src/app/admin/landing2/landing2.component.scss (0 bytes)   
UPDATE src/app/admin/admin.module.ts (368 bytes)
}
a initiali lod ni hoga bs app module jo root modul h uske andr jitnne component h  o lod honge globl sb 
ab a jo created module h o initilay user action pe lod honge bs to isse  application pe uska lodni ayega 
admin module .ts me log lgaya to a tb dikhega jb amin modul urn hoga tb

 
 -->


<!-- 
//05-10-23
new folder bnake sb recap 
vs>> new folder (newAngularpro)>>new project- ng new angProject
>> 
 




  -->

  <!-- 
    //7-10-23



    
   -->
   <!--
     //08-10-23
    
     what is used of reactive forms ?

    Abhishek N

this form is used to create complex form with custom validation rule
More control over form validation and error handling Better support for complex forms with dynamic fields Improved performance and scalability for large forms Easier integration with third-party libraries and APIs



  
  
  -->